h1,
.h1 {
  font-family: $font-primary;
  font-size: 1.625rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  @include min-width(desktop) {
    font-size: 2.25rem;
  }
}
h2,
.h2 {
    font-family: $font-primary;
    font-size: 1.375rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;

  letter-spacing: normal;
  @include min-width(desktop) {
    font-size: 1.75rem;
  }
}