.users{
    background-color: grey;
    //TODO better solution?
    position: absolute;
    top: 60vh;
    left: 0;
    width: 100%;
    height: 100%;
}
.card{
    
    &-user{
        .title{

        }

    }
}